<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Travel Advisor</title>
  </head>
  <body>
    <form id="main-form">
      <input type="text" id="trip-loc" placeholder="Enter location">
      <br>
      <label for="trip-starting-date">Starting date</label>
      <input type="date" id="trip-starting-date">
      <br>
      <label for="trip-end-date">End date ( OPTIONAL )</label>
      <input type="date" id="trip-end-date">
      <br>
      <input type="submit" value="Submit">
    </form>
    <div id="data">

    </div>
  </body>
</html>
